<a href="https://colab.research.google.com/github/codetosign/WPI/blob/main/WPI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
cd drive/MyDrive/WPI Test

[Errno 2] No such file or directory: 'drive/MyDrive/WPI Test'
/content/drive/MyDrive/WPI Test

In [42]:
import pandas as pd
url_head = '/content/drive/My Drive/WPI Test/'

def wpi(name):
  df = pd.read_excel(url_head + name + '.xlsx').iloc[31:35].T.reset_index()  # 데이터 전처리후 인덱스 초기화
  df = df.drop(columns=['index', 32, 33]).drop(18).iloc[13:]  # 떨어져나온 인덱스 삭제후 측정지수 사이의 자기평가, 타인평가 삭제
  df = df.reset_index().drop(columns = 'index') # 일렬로 출력

  persnal = df[:5]
  values = df[5:]
  persnal.columns = ['persnality', 'statistics']
  values.columns = ['values', 'statistics'] # 자기평가, 타인평가 나눈뒤 컬럼명 설정

  df = pd.concat([persnal, values.reset_index().drop(columns = 'index')], axis= 1) # 행을 맞춰야해서 타인평가 인덱스 초기화, 인덱스열 삭제
  return df

In [45]:
wpi('아빠')

  persnality statistics    values statistics
0    Realist         42  Relation         56
1  Romantist         11     Trust         28
2   Humanist         48    Manual         70
3   Idealist         16      Self          0
4      Agent         80   Culture         84