<a href="https://colab.research.google.com/github/C-Designer/Study/blob/main/n134-clustering/n134a-clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 3 / NOTE 4*

# üìù Assignment

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# 1. Dataset prepare

ÏïÑÎûòÏùò Ï£ºÏÜåÎ•º Ï∞∏Ï°∞ÌïòÏó¨, Îç∞Ïù¥ÌÑ∞Î•º Ï§ÄÎπÑÌïòÏÑ∏Ïöî.

<https://www.kaggle.com/uciml/breast-cancer-wisconsin-data>

- "diagnosis"Ïóê ÏûàÎäî label Îç∞Ïù¥ÌÑ∞Î•º Îî∞Î°ú Î≥ÄÏàòÎ°ú ÏÉùÏÑ±ÌïòÏÑ∏Ïöî.

In [42]:
from scipy.spatial.distance import cdist as cd
from sklearn.preprocessing import StandardScaler 
from sklearn.metrics import accuracy_score
from sklearn.decomposition import PCA 
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Í≤∞Ï∏°Í∞í, diag Ï†úÍ±∞
df= pd.read_csv('/content/drive/MyDrive/Data Storage/CodeStates/[n134]/data.csv').drop('diagnosis', 1)
df= df.fillna(0).iloc[:, : -1]
df

           id  radius_mean  ...  symmetry_worst  fractal_dimension_worst
0      842302        17.99  ...          0.4601                  0.11890
1      842517        20.57  ...          0.2750                  0.08902
2    84300903        19.69  ...          0.3613                  0.08758
3    84348301        11.42  ...          0.6638                  0.17300
4    84358402        20.29  ...          0.2364                  0.07678
..        ...          ...  ...             ...                      ...
564    926424        21.56  ...          0.2060                  0.07115
565    926682        20.13  ...          0.2572                  0.06637
566    926954        16.60  ...          0.2218                  0.07820
567    927241        20.60  ...          0.4087                  0.12400
568     92751         7.76  ...          0.2871                  0.07039

[569 rows x 31 columns]

In [40]:
# Ïù∏ÏΩîÎî© Î∞è Ïª¨ÎüºÎ™Ö, ÏÑ§Ï†ïÍ∞í Î≥ÄÍ≤Ω
diag= pd.read_csv('/content/drive/MyDrive/Data Storage/CodeStates/[n134]/data.csv')['diagnosis']
diag = pd.get_dummies(diag, drop_first=True).replace({1:0, 0:1})
diag.columns = ['diagnosis']
diag

     diagnosis
0            0
1            0
2            0
3            0
4            0
..         ...
564          0
565          0
566          0
567          0
568          1

[569 rows x 1 columns]

- Ïù¥ÌõÑ Ìï¥Îãπ columnÏùÑ Ï†úÍ±∞Ìïú ÎÇòÎ®∏ÏßÄ Îç∞Ïù¥ÌÑ∞Î•º ÏÇ¨Ïö©ÌïòÏó¨ k-means clusteringÏùÑ ÌïòÎ©∞ k = 2Î•º Ï†úÏô∏Ìïú Îã§Î•∏ parameterÎäî default optionÏùÑ ÏÇ¨Ïö©Ìï©ÎãàÎã§.

In [45]:
km = KMeans(n_clusters= 2).fit(df)
labels = km.labels_

df['clusters'] = pd.Series(labels).values
df

           id  radius_mean  ...  fractal_dimension_worst  clusters
0      842302        17.99  ...                  0.11890         0
1      842517        20.57  ...                  0.08902         0
2    84300903        19.69  ...                  0.08758         0
3    84348301        11.42  ...                  0.17300         0
4    84358402        20.29  ...                  0.07678         0
..        ...          ...  ...                      ...       ...
564    926424        21.56  ...                  0.07115         0
565    926682        20.13  ...                  0.06637         0
566    926954        16.60  ...                  0.07820         0
567    927241        20.60  ...                  0.12400         0
568     92751         7.76  ...                  0.07039         0

[569 rows x 32 columns]

2. 

- ÏõêÎûò ÎùºÎ≤®Í≥º, clustering Ïù¥ÌõÑÏùò ÎùºÎ≤®ÏùÑ ÎπÑÍµêÌïòÏó¨ accuracyÎ•º Ï∏°Ï†ïÌïòÏÑ∏Ïöî. 

- accuracy = Ï†ÑÏ≤¥Îç∞Ïù¥ÌÑ∞Ï§ëÏóê ÎùºÎ≤®Ïù¥ ÏùºÏπòÌïòÎäî Îç∞Ïù¥ÌÑ∞ Ïàò ÏûÖÎãàÎã§.

ex)

|ÏõêÎûò ÎùºÎ≤®|cluster Ïù¥ÌõÑ label|
|:-:|:-:|
|A|A|
|A|B|
|A|A|
|B|B|
|B|B|
|B|A|

accuracy = (2 + 2) / 6

In [43]:
accuracy_score(labels, diag)

0.37434094903339193

# 2. Data pre-process ÌõÑ clusteringÏùÑ ÏãúÌñâÌï¥Î≥¥ÏÑ∏Ïöî

- Í∞Å FeatureÎ≥ÑÎ°ú Scale Ï°∞Ï†àÏùÑ ÏúÑÌï¥ Îç∞Ïù¥ÌÑ∞ Ï†ïÍ∑úÌôîÎ•º ÌïòÏÑ∏Ïöî.
- Ïù¥ÌõÑ PCAÎ•º ÏãúÌñâÌïòÏÑ∏Ïöî.
- scree plotÏùÑ ÌÜµÌï¥ 90%Ïùò variationÏùÑ ÏÑ§Î™ÖÌïòÍ∏∞ ÏúÑÌï¥ ÏÇ¨Ïö©ÎêòÎäî PCÏùò ÏàòÎ•º ÌôïÏù∏Ìï¥Î≥¥ÏÑ∏Ïöî.
- PC1Í≥º PC2Îßå ÏÇ¨Ïö©ÌïòÏó¨ clustering ÌõÑ scatter plotÏùÑ Í∑∏Î†§Î≥¥ÏÑ∏Ïöî.

In [ ]:
2Î≤àÏóêÏÑúÎßå scatterplot Í∑∏Î¶¨Í∏∞

# üî• ÎèÑÏ†Ñ Í≥ºÏ†ú

ÏïÑÎûò ÎßÅÌÅ¨Î•º Ï∞∏Ï°∞ÌïòÏó¨ hierarchical clusteringÏùÑ breast cancer datasetÏóê Ï†ÅÏö©ÌïòÍ≥†, Í∑∏ Í≤∞Í≥ºÎ•º ÏãúÍ∞ÅÌôîÌïòÏÑ∏Ïöî.

<https://scikit-learn.org/stable/modules/clustering.html#hierarchical-clustering>